@{
    ViewBag.Title = "About us";
}

<h1>
    History
    </h1>
<h2>
   1920
    <br /></h2>
<p> At the beginvning of the 1920s, A.P. Moller considered the possibilities of going into the liner business. The tramp trade, where vessels sailed from port to port depending on the demand, was expected to lose ground to liners in time. In addition, the participation in liner services was in keeping with Mr A.P. Møller’s policy on investment and risk diversification.</p>

<h2>
   Currently
    <br />
</h2>
<p>Maersk Line places on order the largest vessels in the world: the Triple-E class In line with the group’s drive to increase competitiveness and environmental leadership, Maersk Line has signed a contract for ten new, innovative container vessels to be called as ‘Triple-E’.

The ‘Triple-E’ vessels (Economy of scale, Efficiency, Environment) will set new standards for size, fuel and cost efficiency as well as reduction of CO2 emissions. The capacity of the new vessels is 18,000 TEU, exceeding the capacity of the world’s largest container vessels currently, Maersk Line’s PS-class vessels of 15,550 TEU.

The vessels are scheduled for delivery between 2013-2015.</p>

