@{
    ViewBag.Title = "Contact";
}
<h2>Main Offices</h2>
<h3>Sydney, A.P. Moller-Maersk A/S</h3>
<h3>+61 2 9696 9696</h3>

<address>
    Address:<br />
    Level 8, 383 Kent Street,<br />
    New South Wales, 2000 Sydney<br />
    <abbr title="Phone">FAX:</abbr>
    +61 2 9017 1992
</address>

<address>
    <strong>Email: au.export@maersk.com</br></strong>
    <strong>Email Opening hours: Mon-Fri 08:30-17:00</strong> 
</address>