@{
    ViewBag.Title = "Home Page";
}
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/39/Maersk_Line_Logo.svg/1280px-Maersk_Line_Logo.svg.png
" style="width:500px;height:100px;padding-top:10px">
<div class="div42">
    <div class="text">
        <h3><strong>2013</strong> Customer charter</h3>
        <p>The customer charter was launched by the Maersk Line CEO Soren Skou at the TPM Transpacific conference held on 4 March 2013. The Charter is a set of aspirational targets Maersk Line is making available to customers defining ambitions and ongoing performance on a number of key customer interactions (as articulated by customers).</p>
    </div>
    <img alt="" src="http://www.maerskline.com/en-au/about/~/media/CAEB3ADA767940429044AE75188EC1A2.ashx" />
</div>




